﻿@model BaseballLeague.MODELS.Team

@{
    ViewBag.Title = "Create Team";
}

<div class="jumbotron">
    <h1>Ohio Baseball League - Teams</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading" style="text-align:center;">
        <h2>New Team Entry Form</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.LeagueId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Team Name:", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-7 col-md-6 col-lg-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Manager.FirstName, "Manager's First Name:", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-7 col-md-6 col-lg-5">
                        @Html.EditorFor(model => model.Manager.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Manager.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Manager.LastName, "Manager's Last Name:", new { @class = "control-label col-sm-4" })
                    <div class="col-sm-7 col-md-6 col-lg-5">
                        @Html.EditorFor(model => model.Manager.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Manager.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="clearfix visible-sm visible-md visible-lg"></div>



@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
